.search_input_div{
  display: flex;
  position: absolute;
  width: 70%;
}
.search_input{
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}